@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Wendy+One&display=swap');

*, *:before, *:after {
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
body{
    font-family: 'Comfortaa', cursive;
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Wendy One', sans-serif;
}
.displayFlex{
    display:flex;
}
.justify-contentCenter{
    justify-content: center;
}
.container_fluid{
    position:relative;
    max-width:100%;
    overflow: hidden;  
}
.container{
    position:relative;
    max-width: 1088px;
    @include iphone{
        max-width: 335px;
    }
    margin:0 auto;
}
.bg{
    background-image:url("image/bg_home.svg");
    width: 851px;
    height: 768px;
    position: absolute;
    right:0px;
    z-index: -2;
    @include smallScreen{
        background-image:url("image/bg_home_sm.svg");
        background-repeat: no-repeat;
        width: 334px;
        height: 245px;
        position: absolute;
        background-size: contain;
        right: 20px;
        top: 391px;
    }
}


.ball02{
    background-image:url("image/ball02.svg");
    max-width: 100%;
    width: 310px;
    height: 310px;
    @include iphone{
        width: 135px;
        height: 135px;
        left: 284px;
        top: 3073px;
    }
    position: absolute;
    top: 1674px;
    right:-100px;
    z-index: -2;
    background-size: contain;
    background-repeat: no-repeat;
}
.ball03{
    background-image:url("image/ball03.svg");
    width: 150px;
    height: 150px;
    position: absolute;
    left:50px;
    top: 2598px;
    @include iphone{
        width: 135px;
        height: 135px;
        left: -67px;
        top: 4838px;
    }
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;

}
.top{
    width: 71px;
    height: 71px;
    @include iphone{
        width: 50px;
        height: 50px;
    }
    border-radius: 35.5px;
    position: fixed;
    right: 48px;
    bottom: 23px;
    background-color: #56C4C5;
    color: #FFFFFF;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.header{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    height: 88px;
    @include iphone{
        height: 72px;
    }
    padding-top:24px;
    padding-bottom:24px;
    @include iphone{
        padding-top:16px;
        padding-bottom:16px;
        margin-bottom:32px; 
    }
    max-width: 1366px;
}
.logo{
    display:flex ;
    align-items: center;
    img{
        width: 218px;
        height: 40px;
        @include iphone{
            width: 130.84px;
            height: 24px;            
        }
    }
}
.method{
    width: 128px;
    color:#FFFFFF;
    background-color: #FF5D50;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.methodInner{
    text-align:center;
    font: normal normal normal 16px/24px Noto Sans TC;
    color:white;
}
.body1{
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1366px;
    height: 534px;
    @include ipad {
        flex-direction: column;   
        justify-content: center;       
    }
}
.body11{
    color:#56C4C5;
    font: normal normal bold 18px/26px Noto Sans TC;
    @include bigScreen {
        font: normal normal bold 18px/24px Noto Sans TC;
        letter-spacing: 0px;
        color: #56C4C5;    
    }
}
.body12{
    font: normal normal bold 48px/70px Noto Sans TC;
    color: #221E1F;
    @include bigScreen{
        font: normal normal bold 32px/46px Noto Sans TC;
        letter-spacing: 0px;
        color: #221E1F;
        margin-top:8px;
        margin-bottom:16px;
    }
}
.body13{
    font: normal normal normal 20px/29px Noto Sans TC;
    color: #221E1F;
    @include bigScreen{
        font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
    }
}
.home{
    img{
        width: 532px;
        height: 534px;
        @include ipad{
            font: normal normal normal 16px/24px Noto Sans TC;
            width: 305px;
            height: 305px;
        }        
    }
}
.body2{
    margin:217px auto 48px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1366px;
    @include iphone{
        margin-top:92px;
        margin-bottom:32px;
    }
}

.body3{
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    max-width: 1366px;
    @include smallScreen{
    flex-direction: column;
    align-items: center;
    }
}
.Facebook, .LINE, .Instagram{
    height: 221px;
    @include iphone{
        width: 240px;
        height: 166px;
    }
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.LINE, .Instagram{
    @include iphone{
        margin-top:24px;
    } 
}
.FacebookPhoto, .LINEPhoto, .InstagramPhoto{
    img{
        width: 90px;
        height: 90px;
        @include iphone{
            width: 60px;
            height: 60px;            
        }
    }
}
.FacebookText1, .LINEText1, .InstagramText1{
    font: normal normal bold 24px/35px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
    @include iphone{
        font: normal normal bold 18px/26px Noto Sans TC;
    }
}
.FacebookText2, .LINEText2, .InstagramText2{
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #747474;
    p{
        text-align: center;
    }
    @include iphone{
        text-align: center;
    }
}
.body4{
    margin:100px auto 0px auto;
    @include iphone{
        margin-top:60px;

    }
    max-width: 1366px;
    height: 91px;
    @include iphone{    
        height:108px;

    }    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.body42{
    font: normal normal normal 20px/29px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
    @include ipad{
        font: normal normal normal 18px/26px Noto Sans TC;
        text-align: center;
        margin-top:16px;
        padding-bottom:32px;
    }
}
.body5{
    margin:48px auto 0 auto;
    @include smallScreen{
        margin-top:32px;
    }
    max-width: 1366px;
    display: flex;
    justify-content: space-between;
    @include ipad{
        flex-direction: column;
        align-items: center;
    }
    border-radius: 20px;
    flex-wrap: wrap;
}
.bodyInner{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    width: 260px;
    height: 388px;
    border-radius:12px;
    box-shadow: 0px 2px 10px #00000014;
    background-color:#FFFFFF;
    img{
        width: 260px;
        border-radius: 12px 12px 0 0;
    }
    @include ipad{
        margin-bottom:24px;
    }
}
.body5Text1{
    font: normal normal bold 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #56C4C5;
}
.body5Text2{
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
    padding:0 12px 24px 12px;
    text-align: center;
}
.body6{
    margin:0 auto;
    max-width: 1366px;
    margin-top:100px;
    margin-bottom:95px;
    @include iphone{
        margin-top:36px;
    }
    height: 588px;
    display: flex;
    flex-direction:row-reverse;
    justify-content: space-between;
    align-items: stretch;
    @include bigScreen {
        flex-direction: column;    
        justify-content: center;
        align-items:center; 
        margin-bottom:50px;
        height: auto;     
    }
    @include smallScreen{
        margin-bottom:26px;
    }
}
.mainTitle{
    font: normal normal bold 32px/46px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
    @include iphone{
        font: normal normal bold 28px/40px Noto Sans TC;
    }
}
.body61{
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include iphone{
        justify-content: space-between;
    }
    @include bigScreen {
        align-items: center;
        width: 335px;
        height: 257px;
    } 
}
.body611{
    height: 92px;
    margin-bottom: 16px;
    @include bigScreen {
        text-align: center;
    } @include iphone{
        height:80px;
    }
}
.body612{
    font: normal normal normal 18px/26px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
    margin-bottom: 24px;
    @include bigScreen {
        font: normal normal normal 16px/24px Noto Sans TC;
        text-align: center;
        height:96px;
        margin-bottom: 16px;
    } 
}
.body613{
    border-radius:24.5px;
    padding:12px 32px 12px 32px;
    height: 49px;
    width: 136px;
    background-color: #56C4C5;
    display: flex;
    justify-content: center;
    font: normal normal normal 18px/26px Comfortaa;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.body62{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    @include bigScreen {
        margin-top:32px;
        align-items: center;
        width: 100%;
        flex-direction: column;
    } 
}
.body62Inner{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    
    border-radius: 12px;
    width: 230px;
    height: 280px;
    @include smallScreen{
        height: 284px;
    }
    img{
        width: 62px;
        height: 62px;
        margin-bottom:24px;
    }
    padding-top: 32px;
    padding-left:32px;
    @include smallScreen{
        padding-left: 24px;
        margin-bottom: 24px;
    }
}
.margin-right47{
    margin-right:47px;
    @include bigScreen {
        margin:0;
    }
    @include ipad{
        margin-bottom: 24px;
    }
};
.body62Text1{
    font: normal normal bold 18px/26px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
    margin-bottom:16px;
    @include iphone{
        margin-bottom: 20px;
    }
}
.body62Text2{
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    height: 48px;
    color: #221E1F;
}
.body7{
    margin:0 auto;
    max-width: 1366px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: normal normal bold 32px/46px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
}
.body71{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 104px;
    @include ipad{
        margin-bottom: 88px;
    }
}
.body72{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    @include bigScreen {
        flex-direction: column;
    } 
}
.body72Box{
    @include ipad{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    max-width: 352px;

    height:248px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    padding: 48px 32px 24px 32px;
    @include bigScreen{
    padding: 48px 17px 104px 16px;      
    }
    @include ipad{
        padding: 48px 17px 16px 16px;      
        }
    p{
        font: normal normal normal 16px/24px Noto Sans TC;
        letter-spacing: 0px;
        color: #221E1F;
    }
    h2{
        font: normal normal bold 16px/24px Noto Sans TC;
        letter-spacing: 0px;
        color: #221E1F;
    }
    h3{
        font: normal normal normal 16px/24px Noto Sans TC;
        letter-spacing: 0px;
        color: #221E1F;
    }
    position:relative;
    @include superbig {
        margin-bottom: 0px;;
        max-width: 335px;
        height:248px;
    } 
    @include bigScreen{
        margin-bottom: 100px;
    }
}
.body72Photo{
    position:absolute;
    top:-56px;
    height: 80px;
    img{
        max-width: 80px;
        height: 80px;
        border-radius: 40px;
    }
}
.body7Border{
    border: 1px solid #DDDDDD;
    margin-top:24px;
    margin-bottom:24px;
    @include bigScreen{
        margin-top:16px;
        margin-bottom:16px;
        opacity: 1;
    }
}
.body72Footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        max-width: 121px;
        height: 17px;
    }
    margin-top:8px;
    margin-bottom:24px;
}


.body73{
    display: flex;
    justify-content: center;
    align-items: center;
}

.body8BG{
    width: 100%;
    margin:0 auto;
    background-image:url("image/home_footer.svg");
    margin-top:50px;
    height: 503px;
    @include smallScreen{
        background-image:url("image/footer_sm.svg");    
        margin-top: 36px;
        height: 461px;
    }
    position: relative;
    background-repeat: no-repeat;
    z-index: -2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    @include superbig{
        background-size: contain; 
    }
}
.body8Text1{
    margin: 0 auto;
    margin-top:260px;
    @include ipad{
        margin-top: 293px;
    }
    max-width: 2000px;
    font: normal normal bold 32px/46px Noto Sans TC;
    @include smallScreen{
        font: normal normal bold 24px/35px Noto Sans TC;
    }
    letter-spacing: 0px;
    color: #221E1F;
    text-align: center;
}
.body8Text2{
    margin:48px auto 100px auto;
    @include smallScreen{
        margin:24px auto 60px auto;
    }
    display: flex;
    justify-content: center;
}
.method2{
    width: 136px;
    height: 49px;
    background-color: #56C4C5;
    border-radius: 24.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal normal 18px/26px Comfortaa;
    letter-spacing: 0px;
    color: #FFFFFF;
}
.footer{
    margin:0 auto;
    background: #F5F5F5; 
    max-width:2000px;
    height: 56px;
    padding: 16px 0 16px 0;
    text-align: center;
    font: normal normal normal 16px/24px Noto Sans TC;
    letter-spacing: 0px;
    color: #221E1F;
}